@model  ProjetoCRUD.Models.Usuario


<div id="modalCriar" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form id="formCriar">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Criar Usuario</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtNome">Nome</label>
                        <input type="text" class="form-control" name="Nome" id="txtNome" placeholder="Nome" />
                    </div>
                    <div class="form-group">
                        <label for="txtEmail">E-mail</label>
                        <input type="email" class="form-control" name="Email" id="txtEmail" placeholder="E-mail" />
                    </div>

                    <div class="form-group">
                        <label for="combo">Foto</label>
                        <input type="file" id="txtFoto" name="Foto" accept="image/jpeg" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Criar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $("#formCriar").validate({
        rules: {
            Nome: {
                required: true,
                minlength: 5,
                maxlength: 50
            },

            Email: {
                required: true,
                email: true
            },

            Foto: {
                required: true
            },
        },

        submitHandler: function (form) {
            $.ajax({
                url: "/Usuario/Criar",
                method: "POST",
                datatype: "json",
                data: new FormData(document.getElementById("formCriar")),
                contentType: false,
                processData: false,
                success: function (dados) {
                    if (dados == "ok") {
                        $('#modalCriar').modal('toggle');
                        $.ajax({
                            method: "GET", //GET OU POST
                            cache: false,
                            url: "/Usuario/Index", //LOCAL DO ARQUIVO
                            success: function (answer) {
                                $('#pai').html(answer);//Executa se tiver sucesso
                            },
                            error: function (jqXHR, textStatus) {
                                console.log("Erro: " + textStatus); //executa se falhar
                            }
                        });


                    } else {
                        alert("Erro: " + dados);
                    }
                },
                error: function () {
                    alert("Erro");
                }
            });
        }
    });


</script>