<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

</head>
<body>
    <div style="background-color: red; color: white">
        @RenderSection("BarraMenu")
    </div>

    <div>
        Página Mestra

        @RenderBody()


    </div>
</body>
</html>

